{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
<h1 class="text-success">HTML Templates Downloader</h1>
<h2 class="text-secondary">We offer the fastest way to save html structure of any templates!</h2>
<br/><br/>

<h3 class="">Enter your url and get your template</h3>
{{ form(form) }}
</div>


{% endblock %}
